theme = "base16_transparent"

[editor]
line-number = "relative"
scrolloff = 8
end-of-line-diagnostics = "hint"
auto-format = true


[editor.indent-guides]
render = true
character = "╎" # Some characters that work well: "▏", "┆", "┊", "⸽"
skip-levels = 1

[editor.inline-diagnostics]
cursor-line = "warning"
